body {
  background: url('../images/railway-station-1363771_1920.jpg') no-repeat center center fixed;
  background-size: cover;
}

.jumbotron {
  background-color:transparent !important;
  color: white;
}

.center {
     float: none;
     margin-left: auto;
     margin-right: auto;
}