// Variables

$background-image: linear-gradient(rgba(62, 20, 20, 0.4), rgba(62, 20, 20, 0.4)), url(../img/background-1503863_1280.png);

$blue: #077bc5;
$cyan: #0dbf9e;
$red: #b51d31;
$pink: #d72678;
$yellow: #f7b521;